
<script>
import { reactive, ref, watch } from "vue";
import Point from "./libs/Point";
import Cube from "./libs/Cube";
export default {
  setup() {
    // count of click
    const countPoint = ref(0);

    // information of cube like lines and other side rect info
    const cubeInfo = ref(null);

    // a stage for show objects
    const stage = ref(null);

    // config main rectangle
    const rectConfig = reactive({
      stroke: "black",
      strokeWidth: 4,
    });

    // stage conifg
    const stageConfig = reactive({
      width: window.innerWidth,
      height: window.innerHeight,
    });

    // store point of clicks
    const points = reactive({
      p1: new Point(0, 0),
      p2: new Point(0, 0),
      p3: new Point(0, 0),
    });

    /**
     * set rectConfig for drawing rectangle
     *
     * @param {number} x axis point start paint
     * @param {number} y axis point start paint
     * @param {number} width rectangle
     * @param {number} height rectange
     */
    const generateRect = (x, y, width, height) => {
      rectConfig.width = width;
      rectConfig.height = height;
      rectConfig.x = x;
      rectConfig.y = y;
    };

    /**
     * get coordinate of current pointer position
     * @return {Object} {x:number, y:number}
     */
    const getPointerPosition = () => {
      return stage.value.getNode().getPointerPosition();
    };

    /**
     * fire event when click on stage
     * @param {MouseEvent} evt
     *
     */
    const handleMouseDown = (evt) => {
      //manage click on stage
      if (countPoint.value >= 2) {
        countPoint.value = 0;
      } else {
        countPoint.value += 1;
      }

      // acording number of click handle
      switch (countPoint.value) {
        case 1:
          cubeInfo.value?.reset && cubeInfo.value.reset();
          generateRect(points.p1.x, points.p1.y, 0, 0);
          points.p1 = getPointerPosition();
          break;
        case 2:
          points.p2 = getPointerPosition();
          break;
        default:
          points.p3 = getPointerPosition();
      }

      // in third click drawing cube
      if (countPoint.value === 0) {
        const { p1, p2, p3 } = points;
        const cube = new Cube(p1, p2, p3);
        const { x, y } = cube.mainRect[0];
        generateRect(x, y, cube.width, cube.height);
        cubeInfo.value = cube;
      }
    };

    const handleMouseMove = (evt) => {
      // drawin man rect in 1st click
      if (countPoint.value == 1) {
        rectConfig.x = points.p1.x;
        rectConfig.y = points.p1.y;
        rectConfig.width = getPointerPosition().x - points.p1.x;
        rectConfig.height = getPointerPosition().y - points.p1.y;
      }

      // drawing cube in 2st click
      if (countPoint.value == 2) {
        const cube = new Cube(points.p1, points.p2, getPointerPosition());
        cubeInfo.value = cube;
      }
    };

    // change cursor when start drawing
    watch(countPoint, (count) => {
      document.body.style.cursor = count === 0 ? "default" : "crosshair";
    });

    return {
      handleMouseDown,
      handleMouseMove,
      countPoint,
      rectConfig,
      cubeInfo,
      stageConfig,
      stage,
    };
  },
};
</script>

<template>
  <v-stage
    ref="stage"
    :config="stageConfig"
    @mouseDown="handleMouseDown"
    @mousemove="handleMouseMove"
  >
    <v-layer>
      <v-rect v-if="countPoint !== 1" :config="cubeInfo?.otherHand"></v-rect>
      <v-rect :config="rectConfig"></v-rect>
      <v-line
        v-for="(line, index) of cubeInfo?.lines"
        :key="index"
        stroke="black"
        :strokeWidth="3"
        :points="[line[0].x, line[0].y, line[1].x, line[1].y]"
      />
    </v-layer>
  </v-stage>
</template>